.form {
  margin-top: var(--spacing-medium);
}

.transactionValue input+label,
.description textarea+label {
  font-size: 12px;
  font-weight: 700;
  top: 8px;
}

.description,
.transactionType {
  margin-top: var(--spacing-small);
}

.transactionType {
  display: flex;
  margin-left: 3px;

  & > :last-child {
    margin-left: var(--spacing-small);
  }
}

.actions {
  flex: 1;
  margin-top: var(--spacing-medium);
  text-align: right;

  & button:last-child {
    margin-left: var(--spacing-small);
  }
}
